* { 
  font-family: 'Roboto', sans-serif;

  }

body {
  background: #D3959B;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #BFE6BA, #D3959B);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #BFE6BA, #D3959B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  overflow: hidden;
  user-select: none;
  color:white;
  padding: 30px;
}

#input_text {
  box-sizing: border-box;
  background: rgba(255, 255, 255, .5);
  font-size: 30px;
  width: 100%;
  outline: none;
  height: 40px;
  border-radius: 6px;
  padding: 30px;
  border: none;
  display: block;
  color: rgb(117 117 117);
}

#main_functions{
  border-color: brown;
  border:23px;
}

#show {
  text-align: center;
  display: block;
  border: none;
  padding: 20px;
  font-size: 20px;
  background: #E6DADA;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #274046, #E6DADA);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #274046, #E6DADA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 8px;
  margin-top: 20px;
  text-align: center;
  color: rgba(197, 202, 251, 0.746);
  text-transform: uppercase;
  width: 100%;
}

#show:hover{  
  opacity: .9;
}

#settings{
  text-align: center;
  display: block;
  border: none;
  padding: 10px;
  font-size: 17px;
  background: #E6DADA;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #274046, #E6DADA);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #274046, #E6DADA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 8px;
  margin-top: 10px;
  text-align: center;
  color: rgba(197, 202, 251, 0.746);
  text-transform: uppercase;
  width: 100%;
}

#settings_btn{
  text-align: center;
  display: block;
  border: none;
  padding: 10px;
  font-size: 17px;
  background: #E6DADA;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #274046, #E6DADA);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #274046, #E6DADA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 8px;
  margin-top: 10px;
  text-align: center;
  color: rgba(197, 202, 251, 0.746);
  text-transform: uppercase;
  width: 100%;
}

#ic {
  text-align: center;
  display: block;
  border: none;
  padding: 10px;
  border-radius: 50px;
  margin-top: 5px;
  text-align: center;
  color: rgba(197, 202, 251, 0.746);
  text-transform: uppercase;
  width: 100%;
  height: 33px;
  background: url(/web/drop.png);
  background-repeat : no-repeat;
  background-position: center;
}

#result {
  box-sizing: border-box;
  background: rgba(255, 255, 255, .5);
  font-size: 30px;
  width: 100%;
  outline: none;
  height: 200px;
  border-radius: 6px;
  padding: 30px;
  border: none;
  display: block;
  color: rgb(117 117 117);
  margin-top: 20px;
}

.Down {
margin-top: 340px;
transition: margin 1s ease-out 0.1s;
}

.settings_menu {
  margin-top: 0px;
  transition: margin 1s ease-out 0.1s;
}

#settings_simv{
  margin-top: -340px;
  transition: margin 1s ease-out 0.1s;
  display: none;
}

#settings_simv_visibility{
  display: block;
  visibility: hidden;
  margin-top: 0px;
  transition: margin 1s ease-out 0.1s;
}

#voteAll{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 50px;
  height: 45px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}


.checkbox-btn {
	display: inline-block;
  user-select: none;
  max-width: 30px;
  max-height: 30px;
}

.checkbox-btn input[type=checkbox] {
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
  height: 0;
  
}

.checkbox-btn span {
	display: inline-block;
	cursor: pointer;
  text-align: center;
	line-height: 30px;
	border: 1px solid #999;
	border-radius: 4px;
  transition: background 0.2s ease;
  margin-top: -100px;


  padding: 3px;
  font: 1.57em sans-serif;
  width: 24px;
  height: 24px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
 
/* Checked */
.checkbox-btn input[type=checkbox]:checked + span {
  background: #ffe0a6;
  
}
 
/* Focus */
.focused span {
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
 
/* Active */
.checkbox-btn input[type=checkbox]:active:not(:disabled) + span {
	background: #d2c5ac;
	color: #000;
}
 
/* Disabled */
.checkbox-btn input[type=checkbox]:disabled + span {
	background: #efefef;
	color: #666;
  cursor: default;
  
}

.checkbox-btn input[type=checkbox]:checked:disabled + span {
	background: #f7efdc;
}


#btn_768{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161;
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_769{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_770{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_771{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_772{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_773{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_774{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_775{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_776{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_777{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_778{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_779{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_780{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_781{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_782{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_783{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_784{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_785{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_786{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_787{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_788{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_789{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_790{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_791{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_792{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_793{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_794{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_795{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_796{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_797{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_798{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_799{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_800{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_801{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_802{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_803{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_804{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_805{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_806{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_807{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_808{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_809{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_810{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_811{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_812{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_813{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_814{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_815{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_816{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_817{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_818{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_819{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_820{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_821{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_822{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_823{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_824{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_825{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_826{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_827{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_828{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_829{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_830{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_831{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_832{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_833{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_834{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_835{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_836{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_837{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_838{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_839{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_840{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_841{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_842{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_843{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_844{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_845{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_846{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_847{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_848{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_849{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_850{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_851{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_852{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_853{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_854{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_855{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_856{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_857{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_858{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_859{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_860{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_861{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_862{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_863{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_864{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_865{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_866{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_867{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_868{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_869{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_870{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_871{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_872{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_873{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_874{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_875{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_876{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_877{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_878{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
#btn_879{
  margin-top: 15px;
  padding: 3px;
  font: 2.5em sans-serif;
  width: 30px;
  height: 30px;
  color: #061161; 
  background: rgba(255, 255, 255, .5);
  border: none;
}
